body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  position: relative;
  left: 50px;
  top: 10px;
}

.option {
  padding-top: 30px;
}

.option-button {
  margin-right: 10px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.option-button:hover {
  text-decoration: underline;
  text-decoration-color: salmon;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  transition: linear 0.3s ease;
}

.search-bar {
  width: 400px;
  height: 30px;
  position: relative;
  top: 25px
}

.profile {
  padding-top: 30px;
  padding-right: 50px;
}

.profile-button {
  margin-right: 10px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.card-container {
  background-color: rgb(241, 246, 246);
  padding: 30px;
  justify-content: center;
}

.card {
  background-color: rgb(51, 85, 22);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sorting {
  height: 10px;
  background-color: rgb(241, 246, 246);
  padding: 20px;
}

.sorting-button {
  height: 30px;
  width: 120px;
  background-color: orange;
  color: rgb(244, 241, 240);
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.sorting-button:hover {
  background-color: rgb(251, 210, 6);
  transition: linear 0.3s ease;
  transform: scale(1.05);
}

.filtering {
  height: 10px;
  background-color: rgb(241, 246, 246);
  padding: 20px;
}

.filtering-button {
  height: 30px;
  width: 120px;
  background-color: orange;
  color: rgb(244, 241, 240);
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}


.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} 
