* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    border: 3px solid black;
    background-color: gray;
    clear: both;
}

section {
    height: 300px;
    width: 33.3333%;
    border: 3px solid black; 
    background-color: gray;
    float: left;
}


/* 1. Normal Flow:
* - By default, elements flow from top to bottom, left to right
* - This is called "normal flow" or "document flow"
*/

/* 2. Important CSS Properties for Layout:
* - float: Makes elements float left/right
* - clear: Stops elements from floating
* - display: Changes how elements behave
* - position: Controls element positioning
* - z-index: Controls stacking order
*/

/* 3. Float Layout:
* - Float makes elements move to left/right
* - Floated elements try to go as far as possible in their direction
* - Multiple floated elements can sit side by side
*
* Example Layout:
* +-----------------+
* |     Header      |
* +-----------------+
* |  |  |  |  |  |  |
* |  |  |  |  |  |  |
* |  |  |  |  |  |  |
* +-----------------+
* |     Footer      |
* +-----------------+
*/
