/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
  height: 100px;
  border: 2px solid black;
  clear: both;
}

section {
  height: 300px;
  width: 20%;
  border: 2px solid black;
  float: left;
}

.thiccOne {
  width: 40%;
}

/* Whenever we see screen, that really means '0'. And between 0px and
   600px, I want to make our section's background color: green */
@media screen and (max-width: 600px) {
  section {
    background-color: green;
  }
}

/* 601px to 900px, I want section's background-color: blue */
@media (min-width: 601px) and (max-width: 900px) {
  section {
    background-color: blue;
    width: 33.33%;
  }

  /* Between 601px to 900px, .thiccOne is going to disappear */
  .thiccOne {
    display: none;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
