/* Box sizing Hack */

* {
    box-sizing: border-box;
}

/* Clearfix Hack */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Layout */

main section, .bottom section {
    width: 33.3333%;
    height: 300px;
    border: 1px solid black;
    float: left;
}

.bottom section {
    width: 50%;
}





/* On mobile, please make all sections stack */

@media all and (max-width: 480px) {
   main section, .bottom section {
    width: 100%;
   } 
}



/* On tablet, please make the section in main stack */

@media all and (max-width: 768px) {
   main section {
    width: 100%;
   }
}



/* On laptop, please keep the normal layout, but everythin should be light green */

@media all and (min-width: 768px) {
   main, .bottom {
    background-color: lightgreen;
   }
}

/* On larger screens, please keep the normal layout, but everything should be light blue */

@media all and (min-width: 1024px) {
   main, .bottom {
    background-color: lightblue;
   }
}


