/* Inline Elements */
h1 {
    display: inline;
}


/* Block Elements */
.square {
    display: block;
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}


/* Inline-Block Elements */
.rectangle {
    display: inline-block;
    width: 200px;
    height: 300px;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}


/* General Styles */
body {
    padding: 20px;
}

p {
    text-align: center;
    margin: 0;
}