* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    flex-direction: column;
}

h5 {
    font-size: 40px;
    color: white;
}

h1 {
    padding: 20px 40px;
    background-color: gainsboro;
    border-radius: 5px;
    margin: 30px 0;
    font-size: 100px;
    font-family: monospace;
    letter-spacing: 5px;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    background-color: lightgreen;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

button:active {
    scale: 0.95;
}