* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 300px;
    object-fit: cover;
}

button {
    color: white;
    background-color: rgb(0, 191, 255);
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 153, 204);
}

button:active {
    scale: 0.95;
}


/* 27:02 */