* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card {
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center; 
}

#card img {
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#card h1 {
    font-size: 30px;
    margin: 10px 0;
}

#card h5 {
    font-size: 25px;
    color: red;
    margin-bottom: 20px;
}

#card button {
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

#card button:active {
    background-color: rgb(27, 179, 206);
    scale: 0.95;
}
