/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

img {
  height: 480px;
  width: 768px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
