/* General Styling */
section {
  text-align: center;
}

/* Modal Styling */
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--purple);
  width: 75vw;
  max-width: 500px;
  margin: auto;
  display: block;
  animation: expand 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  border: none;
}

/* Close Button */
dialog button {
  position: absolute;
  top: 16px;
  right: 16px;
  appearance: none;
  background: rgba(255, 255, 255, 0.15);
  padding: 0;
  color: var(--charcoal);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

dialog button:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Modal Animation */
@keyframes expand {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Backdrop Effect */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
