/* Please Make "only" Rhino and Zebra Blue [unique id] */

#rhino, #zebra {
    color: blue;
} 

/* Please Make "only" Hufflepuff Gold [unique id] */

#bestHouse {
    color: gold;
}

/* Please select Duck with the highest level of specificity possible */
/* No spaces means find the element of h2 having likesToQuack & fight1Or100*/

html > body > h1#hi + section.top + section.middle + article.areDucksDinosaurs > h2.likesToQuack.fight1Or100 {
    color: lime !important;
}

/* Please select Rhino with the highest level of specificity possible */
