/* Color all h1's to purple */
h1 {
    color: purple;
}

/* Color all h2's to yellow */
/* h2 {
    color: yellow;
} */

/* Direct parent-child relationship */
section > h2 {
    color: blue;
}

/* Direct parent-child relationship */
/* Cannot override color because it has 1000 specificity */
article > h2 {
    color: red !important;
}

/* Indirect parent-child relationship */
section article h2 {
    color: orange;
}