/* Position: Relative Example */
.relative-box {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: green;
    top: 50px;
    left: 120px;
}


/* Position: Absolute Example */
.parent {
    position: relative;
    width: 300px;
    height: 200px;
    background: #eee;
    margin: 20px;
}
.child {
    position: absolute;
    top: 20px;
    right: 30px;
    background: #ff0000;
    width: 100px;
    height: 100px;
}


/* Position: Fixed Example */
.fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
}


/* Position: Sticky Example */
.sticky-box {
    position: sticky;
    top: 240px;
    background-color: darkgreen;
    width: 200px;
    height: 100px;
    margin: 20px;
}


/* Z-Index Example */
.blue-box {
    background-color: blue;
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
}
.green-box {
    background-color: green;
    position: relative;
    top: -170px;
    left: 170px;
    width: 200px;
    height: 200px;
}
/* Container for scrolling */
.scroll-container {
    height: 1000px;
    margin-top: 60px;
}
